<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="HSF_KeePass_Nuget_source" value="http://srv-project01.hsf.local/api/v4/projects/29/packages/nuget/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <HSF_KeePass_Nuget_source>
            <add key="Username" value="HSFKeePassNuget" />
            <add key="ClearTextPassword" value="yhYW-D65ohBVBzHYT5k4" />
        </HSF_KeePass_Nuget_source>
    </packageSourceCredentials>
</configuration>